<div id="messages">
  <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
</div>

<%= render 'messages/form', message: Message.new, chatroom: @chatroom %>

